<form name='formIns' action='controllerForm' method='post'>
    <b></b> <input type='hidden' name='id?' id='id?'><br>

    <div class="col-md-6 form-group">
    <label><b>Nome:</b> <input type='text' class="form-control" name='name' id='name'></label></div>

    <div class="col-md-6 form-group">
    <label><b>Idade:</b> <input type='text' class="form-control" name='idade' id='idade'></label></div>

    <div class="col-md-6 form-group">
    <label><b> Estado Civil:</b> <input type='text' class="form-control" name='civil' id='civil'></label></div>

    <div class="col-md-6 form-group">
    <label><b>CPF:</b> <input type='text' class="form-control" name='cpf' id='cpf' placeholder='000.000.000-00 '></label></div>

    <div class="col-md-6 form-group">
    <label><b>Cidade:</b> <input type='text' class="form-control" name='cidade' id='cidade'></label></div>

    <div class="col-md-6 form-group">
    <label><b>Estado:</b> <input type='text' class="form-control" name='estado' id='estado' placeholder='SP'></label></div>

    <div class="col-md-4"><strong>
    <b><button type='submit' name='btnSubmit' id='btnSubmit'>Inserir</button></b></strong></div>
</form>